<template name="landing">
  <div class="ui container">
    <form id="login" class="ui large form">
      <div class="ui stacked segment">

        <label for="login-username">User Name</label>
        <input type="text" class="ui input field" id="login-username">

        <label for="login-password">Password</label>
        <input type="password" class="ui input field" id="login-password">
        <input type="submit" class="at-btn ui fluid large primary button" id="at-btn" value="Login">

        <p id="form-messages"></p>
      </div>
    </form>
  </div>
</template>
