<template name="ingredientAdd">
  <div id="ingredientAdd" class="ui basic modal">
    <i class="close icon"></i>
    <div class="header">
      Add Ingredient
    </div>
    <div class="ui input focus">
      <input type="text" placeholder="Ingredient">
    </div>
    <div class="actions">
      <div class="ui black deny button">
        Cancel
      </div>
      <div class="ui positive right labeled icon button">
        Add
        <i class="checkmark icon"></i>
      </div>
    </div>
  </div>
</template>
