<template name="ingredientList">
  <div class="ui main text container">
    <div class="ui stackable three column grid">
        {{#each ingredients}}
          {{> ingredientListItem}}
        {{/each}}
    </div>
  </div>
</template>


<template name="ingredientListItem">
  <div class="column">
    <div class="ui raised segment">
      <div class="middle aligned content">
        <div class="header">
          <div class="ui grid">
            <span>
              {{> editableText collection="ingredients" field="name"}}
              <i class="trash icon right floated" id="delete"></i>
              <div class="actions">
                <div class="ui checkbox">
                  <input type="checkbox" name="example" checked={{include}}>
                  <label>Include In Shopping List</label>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
